In [1]:
import pandas as pd

In [2]:
df_cars = pd.read_csv("./data/vehiculos_electricos_hibridos.csv")

In [3]:
# Reemplazar nombres de las columnas
df_cars.rename(columns={"AÑO_REGISTRO":"ANIO_REGISTRO"},inplace=True)

In [4]:
# Muestra información del dataframe
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56545 entries, 0 to 56544
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COMBUSTIBLE          56545 non-null  object
 1   ESTADO               56545 non-null  object
 2   MODELO               56545 non-null  int64
 3   FECHA_REGISTRO       56545 non-null  object
 4   ANIO_REGISTRO        56545 non-null  int64
 5   CLASIFICACION        56545 non-null  object
 6   CLASE                56545 non-null  object
 7   SERVICIO             56545 non-null  object
 8   MARCA                56545 non-null  object
 9   LINEA                56545 non-null  object
 10  CARROCERIA           56545 non-null  object
 11  CILINDRAJE           53054 non-null  float64
 12  MODALIDAD            36663 non-null  object
 13  ORGANISMO_TRANSITO   56545 non-null  object
 14  MUNICIPIO            56545 non-null  object
 15  DEPARTAMENTO         56545 non-null  object
 16  CAPACIDAD_CARGA      6220 non-null   float64
 17  CAPACIDAD_PASAJEROS  1311 non-null   float64
 18  PESO                 54116 non-null  float64
 19  POTENCIA             55548 non-null  float64
 20  EJES                 54473 non-null  float64
 21  CANTIDAD             56545 non-null  int64
dtypes: float64(6), int64(3), object(13)
memory usage: 9.5+ MB

In [5]:
# df_cars["EJES"] = df_cars["EJES"].astype("int64")
list_to_change = [
    "CILINDRAJE",
    "CAPACIDAD_CARGA",
    "CAPACIDAD_PASAJEROS",
    "PESO",
    "POTENCIA",
    "EJES"
]

for column_name in list_to_change:
    df_cars[column_name] = pd.to_numeric(df_cars[column_name], errors='coerce').fillna(0)
    df_cars[column_name] = df_cars[column_name].astype("int64")
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56545 entries, 0 to 56544
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COMBUSTIBLE          56545 non-null  object
 1   ESTADO               56545 non-null  object
 2   MODELO               56545 non-null  int64
 3   FECHA_REGISTRO       56545 non-null  object
 4   ANIO_REGISTRO        56545 non-null  int64
 5   CLASIFICACION        56545 non-null  object
 6   CLASE                56545 non-null  object
 7   SERVICIO             56545 non-null  object
 8   MARCA                56545 non-null  object
 9   LINEA                56545 non-null  object
 10  CARROCERIA           56545 non-null  object
 11  CILINDRAJE           53054 non-null  float64
 12  MODALIDAD            36663 non-null  object
 13  ORGANISMO_TRANSITO   56545 non-null  object
 14  MUNICIPIO            56545 non-null  object
 15  DEPARTAMENTO         56545 non-null  object
 16  CAPACIDAD_CARGA      6220 non-null   float64
 17  CAPACIDAD_PASAJEROS  1311 non-null   float64
 18  PESO                 54116 non-null  float64
 19  POTENCIA             55548 non-null  float64
 20  EJES                 56545 non-null  int64
 21  CANTIDAD             56545 non-null  int64
dtypes: float64(5), int64(4), object(13)
memory usage: 9.5+ MB

In [6]:
df_cars.sample(5)

,COMBUSTIBLE,ESTADO,MODELO,FECHA_REGISTRO,ANIO_REGISTRO,CLASIFICACION,CLASE,SERVICIO,MARCA,LINEA,...,MODALIDAD,ORGANISMO_TRANSITO,MUNICIPIO,DEPARTAMENTO,CAPACIDAD_CARGA,CAPACIDAD_PASAJEROS,PESO,POTENCIA,EJES,CANTIDAD
25229,GASO ELEC,ACTIVO,2023,04/26/2022 12:00:00 AM,2022,AUTOMOVIL,CAMIONETA,Particular,KIA,STONIC,...,PASAJEROS,SDM - BOGOTA D.C.,BOGOTA,Bogota D.C.,NaN,NaN,1680.0,118.0,2,1
43710,GASO ELEC,ACTIVO,2022,07/26/2022 12:00:00 AM,2022,AUTOMOVIL,CAMIONETA,Particular,FORD,ESCAPE SEL,...,NaN,STRIA TTOyTTE MCPAL FUNZA,FUNZA,Cundinamarca,0.0,NaN,2075.0,200.0,2,1
1489,ELECTRICO,ACTIVO,2020,06/06/2019 12:00:00 AM,2019,AUTOMOVIL,AUTOMOVIL,Particular,RENAULT,ZOE,...,PASAJEROS,SDM - BOGOTA D.C.,BOGOTA,Bogota D.C.,NaN,NaN,1965.0,92.0,2,1
21876,GASO ELEC,ACTIVO,2021,03/05/2020 12:00:00 AM,2020,AUTOMOVIL,CAMIONETA,Público,KIA,NIRO,...,PASAJEROS,STRIA TTOYTTE MCPAL LA ESTRELLA,LA ESTRELLA,Antioquia,NaN,NaN,1930.0,139.0,2,1
14321,GASO ELEC,ACTIVO,2021,02/18/2021 12:00:00 AM,2021,AUTOMOVIL,CAMPERO,Particular,TOYOTA,RAV 4,...,NaN,DPTO ADTVO TTEyTTO VILLA DEL ROSARIO,VILLA DEL ROSARIO,Norte de Santander,NaN,NaN,1680.0,176.0,2,1